h1 {
    color: black;
    font-style: italic;
    font-size: 100px;
    text-align: center;
}

p {
    color: blue;
    font-size: 15px;
    padding: 25px;
    text-align: center;
    
}

#number1 {
size: 90px
}

#number2 {
    float: left;
}


#number3 {

}


#number4 {
    float: left;
}

h3 {
    color: black;
    font-size: 35px;
    text-align: center;
}