h1 {
    color: green;
    font-style: italic;
    font-size:75px;
    text-align: center;
}

p {
    color:purple;
    font-size: 15px;
    padding: 25px;
    text-align: left;
    
}

h2 {
    font-size: 45px;
    color:purple;
}

#score {
    color:purple;
}


#numberToGuess {
    color:purple;
}
#number1 {

}

#number2 {
    float: left;
    
}


#number3 {

}


#number4 {
    float: left;
}

h3 {
    color:purple;
    font-size: 35px;
    text-align: left;
}